.menu-wrapper {
  width: 20%;
  height: 50%;
  right: 10%;
  margin-top: 4%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  position: fixed;
}

.title {
  text-align: center;
  font-size: x-large;
  margin-top: 1%;
}
