beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
bson==0.5.10
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
DateTime==5.5
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==4.0.1
googlemaps==4.10.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
numpy==1.26.4
pandas==2.2.2
pymongo==4.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
setuptools==70.0.0
six==1.16.0
soupsieve==2.5
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
zope.interface==6.4.post2