.subject-dropdown-wrapper {
    width: 80%;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subject-dropdown {
    width: 100%;
    margin-bottom: 10px;
}

.subject-dropdown-button {
    font-size: 16px;
    padding: 10px;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.subject-dropdown-menu {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 200px;
}

.subject-dropdown-option {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.subject-dropdown-option input {
    margin-right: 10px;
}

.subject-dropdown-option:hover {
    background-color:lightgrey;
}

.subject-send-button {
    font-size: 16px;
    padding: 10px;
    width: 40%;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
}